@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .hover-list {
    @apply before:absolute before:border-b-2  hover:before:opacity-100 before:-bottom-1 before:w-7 before:opacity-0  before:transition-all before:duration-300 hover:before:w-full  before:border-[#FF385C] relative;
  }
  .hover-list-2 {
    @apply before:absolute before:border-b-2  hover:before:opacity-100 before:-bottom-0.5 before:w-7 before:opacity-0  before:transition-all before:duration-300 hover:before:w-full  before:border-[#FF385C] relative;
  }
}
.rdrStaticRange,
.rdrCalendarWrapper,
.rdrDateRangeWrapper,
.rdrInputRanges {
  background-color: #f3f4f6;
}
.rdrInputRanges {
  height: 100%;
}
.rdrStaticRange:hover {
  background-color: #e4e7eb;
}
.animplane {
  animation: fade 0.3s ease-in forwards;
}
@keyframes fade {
  100% {
    opacity: 1;
  }
}
.rt {
  transform: rotateY(180deg);
}
.rt > * {
  transform: rotateY(-180deg);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
